@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

/* Color schemes */
.demo-1 {
	--color-text: #ffe000;
	--color-bg: #fff;
	--color-link: #ffe000;
	--color-link-hover: #efedeb;
	--color-info: #fff;
	--color-main-text: #000;
	--color-scroll-text: #efedeb;
	--font-scroll-text: 'Roboto Mono', monospace;
	--fontsize-scroll-text: 6vw;
}

.content__main {
	color: var(--color-main-text);
}

.js .content__text::before {
	content: '';
	position: absolute;
	left: 0;
	height: 69%;
	bottom: 0;
	width: calc(6vmax - 1.5rem);
	background: var(--color-link);
}
