.word--kidnap {
  font-family: 'Josefin Sans', sans-serif;
	font-size: 9vw;
	font-weight: 400;
	color: #fff;
}

.word--kidnap span {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
  min-width: 80px;
}
.logo-centre {
  max-width: 150px;
  margin: auto;
}
.logo-centre svg {
  width: 100%;
  margin-left: -20px;
}
